body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color:darkred;
}

.retour{
    margin-bottom: 230px;
    border: solid;
}

.ing{
    margin-bottom: 40px;
}

.page{
    margin-left: 200px ;
    margin-right:200px;
}

img{
    display: block;
    margin: auto;
}